/*Reset CSS Styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/*Header Section*/

.banner-section {
	height: 10em;
	width: 100%;
	background-color: #3D993D;
}

.banner-section h1 {
	text-align: center;
	font-size: 5em;
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	padding-top: 0.10em;
}

.banner-section h3 {
	text-align: center;
	font-size: 2em;
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	webkit-font-smoothing: antialiased;
	padding-bottom: 10px;
}
/*Question & Answer Section*/
.question-section {
	background-image: url(/golf-quiz/images/golfcollage.gif);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px auto;
}

.question-section p {
	text-align: center;
	font-size: 2.5em;
	font-family: 'Quicksand', sans-serif;
	color: black;
	webkit-font-smoothing: antialiased;
	padding-top: 2em;
	margin-left: 1em;
	margin-right: 1em;
}

.question-counter {
	font-size: 2em;
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	webkit-font-smoothing: antialiased;
	text-align: center;
	padding-bottom: 280px;
	padding-top: 15px;
}

.flexslider li {
	list-style-type: none;
}

.question-section fieldset {
	font-size: 1em;
}

.submit-button { 
	text-align: center;
}

#submitAnswer {
	width: 8em;
	height: 2em;
	border: 2px solid red;
	border-radius: 5px;
	background-color: #E8E819;
	color: #3D993D;
	font-family: 'Cabin', sans-serif;
	font-size: 2em;
	webkit-font-smoothing: antialiased;
	margin-top: 0em;
}

#submitAnswer:disabled {
	background-color: gray;
	color: white;
}

.new {
	text-align: center;
}

.new button {
	margin-top: 1em;
	margin-bottom: 15em;
	height: 3em;
	width: 10em;
	color: #3D993D;
	background-color: #E8E819;
	font-size: 1em;
	font-family: 'Cabin', sans-serif;
	webkit-font-smoothing: antialiased;
	border: 1px solid red;
	border-radius: 5px;

}

.controlGroup {
	padding-left: 3em;
	font-size: 2em;
	font-family: 'Quicksand', sans-serif;
	webkit-font-smoothing: antialiased;
}










